<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h2>{{ isEditing ? 'Edit' : 'Create' }} Business Plan</h2>
        </div>
        <div class="card-body">
          
          <div class="alert alert-danger text-center" *ngIf="errorMessage != ''">
            {{ errorMessage }}
          </div>

          
          <form
            *ngIf="errorMessage === ''"
            (ngSubmit)="onSubmit()"
            #businessPlanForm="ngForm"
          >
            
            <div class="mb-4">
              <label class="form-label fw-bold">Plan Name</label>
              <input
                required="true"
                #planName="ngModel"
                class="form-control"
                type="text"
                name="planName"
                [(ngModel)]="businessPlan.planName"
                placeholder="Enter the plan name"
              />
              <div
                *ngIf="planName.invalid && (planName.touched || planName.dirty)"
              >
                <small class="text-danger" *ngIf="planName.errors?.['required']">
                  Plan Name is required.
                </small>
              </div>
            </div>

            
            <div class="mb-4">
              <label class="form-label fw-bold">Plan Description</label>
              <textarea
                required
                #planDescription="ngModel"
                class="form-control"
                name="planDescription"
                [(ngModel)]="businessPlan.planDescription"
                rows="4"
                placeholder="Enter a brief description of the plan"
              ></textarea>
              <div
                *ngIf="
                  planDescription.invalid &&
                  (planDescription.touched || planDescription.dirty)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="planDescription.errors?.['required']"
                >
                  Plan Description is required.
                </small>
              </div>
            </div>

            
            <div class="mb-4">
              <label class="form-label fw-bold">Executive Summary</label>
              <textarea
                required
                #executiveSummary="ngModel"
                class="form-control"
                name="executiveSummary"
                [(ngModel)]="businessPlan.executiveSummary"
                rows="4"
                placeholder="Provide an overview of your business plan"
              ></textarea>
              <div
                *ngIf="
                  executiveSummary.invalid &&
                  (executiveSummary.touched || executiveSummary.dirty)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="executiveSummary.errors?.['required']"
                >
                  Executive Summary is required.
                </small>
              </div>
            </div>

            
            <div class="mb-4">
              <label class="form-label fw-bold">Company Description</label>
              <textarea
                required
                #companyDescription="ngModel"
                class="form-control"
                name="companyDescription"
                [(ngModel)]="businessPlan.companyDescription"
                rows="4"
                placeholder="Describe your company and its mission"
              ></textarea>
              <div
                *ngIf="
                  companyDescription.invalid &&
                  (companyDescription.touched || companyDescription.dirty)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="companyDescription.errors?.['required']"
                >
                  Company Description is required.
                </small>
              </div>
            </div>

            
            <div class="mb-4">
              <label class="form-label fw-bold">Market Research</label>
              <textarea
                required
                #marketResearch="ngModel"
                class="form-control"
                name="marketResearch"
                [(ngModel)]="businessPlan.marketResearch"
                rows="4"
                placeholder="Summarize your market research findings"
              ></textarea>
              <div
                *ngIf="
                  marketResearch.invalid &&
                  (marketResearch.touched || marketResearch.dirty)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="marketResearch.errors?.['required']"
                >
                  Market Research is required.
                </small>
              </div>
            </div>

            
            <div class="mb-4">
              <label class="form-label fw-bold">Service Line</label>
              <textarea
                required
                #serviceLine="ngModel"
                class="form-control"
                name="serviceLine"
                [(ngModel)]="businessPlan.serviceLine"
                rows="4"
                placeholder="Describe the products or services you offer"
              ></textarea>
              <div
                *ngIf="
                  serviceLine.invalid &&
                  (serviceLine.touched || serviceLine.dirty)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="serviceLine.errors?.['required']"
                >
                  Service Line is required.
                </small>
              </div>
            </div>

            
            <div class="mb-4">
              <label class="form-label fw-bold">Marketing and Sales</label>
              <textarea
                required
                #marketingAndSales="ngModel"
                class="form-control"
                name="marketingAndSales"
                [(ngModel)]="businessPlan.marketingAndSales"
                rows="4"
                placeholder="Outline your marketing and sales strategy"
              ></textarea>
              <div
                *ngIf="
                  marketingAndSales.invalid &&
                  (marketingAndSales.touched || marketingAndSales.dirty)
                "
              >
                <small
                  class="text-danger"
                  *ngIf="marketingAndSales.errors?.['required']"
                >
                  Marketing and Sales is required.
                </small>
              </div>
            </div>

            
            <div class="text-center">
              <button
                class="btn btn-primary btn-lg w-100"
                type="submit"
              >
                {{ isEditing ? 'Confirm Changes' : 'Create' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>